/* Image Preview Styling */
#imagePreview img {
    max-width: 150px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/*body {*/
/*    background: #53a591;*/
/*}*/